<section class="eleven columns">
    <h1>Experiences</h1>
    <article>
        <header>
            <h1>Software Engineer Intern @ <a href="https://www.tusimple.com/">TuSimple</a></h1>
            <span><address>San Diego, CA, USA</address><time>05/2019 to 08/2019</time></span>
        </header>
        <p>@ Infrastructure team.</p>
        <p>Tech Stack: Flask, Vue, MongoDB, ROS.</p>
    </article>
    <article>
        <header>
            <h1>Research Assistant @
                <a href="http://cslt.riit.tsinghua.edu.cn/">CSLT, THU</a>
            </h1>
            <span><address>Glasgow, UK</address><time>2014 to 2015</time></span>
        </header>
        <p>Supervised by <a href="http://wangd.cslt.org/">Dr. Dong Wang</a>.</p>
        <p>Reproduced various types of sparse neural networks (particularly TDNN) based on
            Kaldi speech recognition toolkit.</p>
    </article>
</section>
